.hello-app{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    position: absolute;
    z-index: 2000;
}

.hello-app h1{
    font-size: 2em;
}

@media screen and (max-width: 800px){

}