.navigation-container{
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: relative;

    a {
        color: #6B9080;
    }

    .dark-link a{
        color:#355070;
    }
}

.navigation-content{
    display: flex;
    flex-direction: column;
    height: 85%;
}

.navigation-name{
    max-width: 400px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divider{
    width: 50%;
    height: 1px;
}

.navigation-menu{
    margin-top: 20px;
    height: 55%;
    width: 80%;
    display: flex;
    flex-direction: column;

}

.navigation-menu-option{
    font-size: 54px;
    font-family: 'Montserrat-Thin';
    cursor: pointer;
}

.navigation-menu-project{
    font-size: 42px;
}

.navigation-menu-option:hover{
    transform: translateY(-10px);
    transition: transform 400ms;
}

.navigation-projects-dropdown{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    text-align: start;

}

.projects-arrow{
    margin-left: 10px;
}

.closed{
    .projects-arrow{
        transform: rotate(0deg);
        transition: transform 400ms;
    }
}

.open{
    .projects-arrow{
        transform: rotate(180deg);
        transition: transform 400ms;
    }
}

.navigation-menu-projects-links{
    overflow: hidden;
    height: 0px;
    width: 0;
}

.show-projects{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: open-projects .5s forwards;
    width: 100%;
}

@keyframes open-projects {
    from {height: 0px;}
    to {height: 100%;}
}

.navigation-menu-links{
    display: flex;
    flex-direction: column;
}

.navigation-menu-project{
    margin-left: 30px;
}

.hide-links{
    display: none;
}

@media screen and (min-width: 1000px){
  .mobile-navigation {
    display: none;
  }

  .show-mobile-navigation{
      display: none;
  }

  .desktop-navigation {
    display: flex;
  }
}

@media screen and (max-width: 1000px){

    .navigation-name{
        height: 25%;
    }
 
    .show-mobile-navigation{
        display: flex !important;
        position: absolute;
        z-index: 1000;
        width: 100%;
    }

    .navigation-content{
        width: 90%;
    }

    .navigation-menu{
        width: 100%;
        height: 65%;
    }

    .navigation-menu-project{
        font-size: 40px;
    }
  
    .navigation-projects-dropdown{
        max-width: 500px;
    }

    .navigation-container {
      display: none;
    }
}

@media screen and (max-width: 1000px){
    .navigation-name-text{
        font-size: 54px !important;
    }
}