.portfolio-content{
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: flex-end;


    h3 {
        font-family: 'Montserrat-Light';
        font-size: 36px;
    }

    h4{
        font-family: 'Montserrat-Thin';
        font-size: 18px;
    }

}


@media screen and (max-width: 1400px){
    .portfolio-content{ 
        h3 {
            font-size: 24px;
        }
    }

}

@media screen and (max-width: 1000px){

    .portfolio-content{
        width: 100%;
        h3 {
            font-size: 20px;
        }
    }
  }