.experience-content h3, .experience-content a{
    font-size: 24px !important; 
}

.experience-content a{
    font-family: 'Montserrat-Light';
    text-decoration: underline;
    color: inherit;
}

.experience-container{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    
    .company{
        font-family: 'Montserrat-Light';
    }
}

@media screen and (min-width: 1000px) and (max-height: 700px){
    .experience-container{
        height: 100%;
    }
    .experience-container h3{
        font-size: 24px !important; 
    }
}

.experience-content{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.experience-header{
    height: 30%;
}

.company{
    font-family: 'Montserrat-Light';
}

.timeline{
    font-style: italic;
}

@media screen and (max-width: 1000px){
    .experience-container{
        height: 100%;
        text-align: start;
        align-items: center;
    }

    .experience-header{
        width: 100%;
    }

    .experience-content{
        align-items: flex-start;
        width: 100%;
    }

    .divider{
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .experience-container{
        .experience-header h1{
            font-size: 48px !important;
        }
    }
}

@media screen and (max-width: 400px){
    .experience-container{
        .timeline, .company, .position, .experience-content a{
            font-size: 16px !important;
        }
    }
}