@font-face{
  font-family: 'Montserrat';
  src: local('Montserrat'), url('../src/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'), url('../src/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'Montserrat-SemiBold';
  src: local('Montserrat-SemiBold'), url('../src/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face{
  font-family: 'Montserrat-Light';
  src: local('Montserrat-Light'), url('../src/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face{
  font-family: 'Montserrat-Thin';
  src: local('Montserrat-Thin'), url('../src/fonts/Montserrat-Thin.ttf') format('truetype');
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
}

*{
  margin-block-start: 0;
  margin-block-end: 0;
}

#root{
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
